// importing tailwind components
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli-ExtraLight.ttf') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli-Bold.ttf') format('truetype');
    font-weight: 700;
  }

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  box-shadow: 0px 12px 18px 0px rgba(0,0,0,0.07);
-webkit-box-shadow: 0px 12px 18px 0px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 12px 18px 0px rgba(0,0,0,0.07);
}

.navbar {	
    text-align: center;
  }
  .navbar ul {
    letter-spacing: 1px;
      margin: 0 auto;
      display: block; 
    list-style-type: none;
  }
  .navbar > ul > li {
      display: inline-block;
      margin: 0 10px;
      font-size: 1.2em;
  } 
  .navbar li a {
      text-decoration: none;
      overflow: hidden;
      position: relative;
  }

/* Initial state */
ul.subnav,
.whatwedoNav,
.insightsNav {
    min-width: 66px;
    min-height: 400px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    z-index: 9998;
    transition: visibility 0.8s ease;
}

/* Specific position for the menus */
.whatwedoNav {
    right: 23%;
}

.insightsNav {
    right: 20%;
}

/* Hover state for whatwedoNav */
.navbar li:hover .whatwedoNav {
    animation: fadeIn 0.8s forwards; /* Apply fade-in animation */
    visibility: visible;
}

.navbar li:hover .whatwedoNav .whatwedoNav_content__wrapper {
    animation-delay: 1s;
    animation: fadeIn 2s;
}

/* Non-hover state for whatwedoNav */
.navbar li .whatwedoNav {
    animation: fadeOut 0.8s forwards; /* Apply fade-out animation */
}

/* Hover state for insightsNav */
.navbar li:hover .insightsNav {
    animation: fadeIn 0.8s forwards; /* Apply fade-in animation */
    visibility: visible;
}

.navbar li:hover .insightsNav .insightNav_content__wrapper {
    animation-delay: 1s;
    animation: fadeIn 2s;
}

/* Non-hover state for insightsNav */
.navbar li .insightsNav {
    animation: fadeOut 0.8s forwards; /* Apply fade-out animation */
}

/* Keyframes for the fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframes for the fade-out effect */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
  
  .subnav li { display: block; }
  .subnav li a {
      padding: 8px;
      display: block;
  }

  .subnav li:hover {
    background-color: #111;
    background: -webkit-linear-gradient(#111,#333,#222,#000);
    background: -o-linear-gradient(#111,#333,#222,#000);
    background: -moz-linear-gradient(#111,#333,#222,#000);
    background: linear-gradient(#111,#333,#222,#000);
  }

  .nav_arrow {
    transform: rotate(90deg);
    margin-left: 0.3rem;
    margin-top: 0.3rem;
  }

  .navbar_blogpost__image {
    img {
        border-radius: 5px;
    }
  }

  .footer_accrediations {
    img {
        margin-bottom: 10px;
    }
  }

  .blue_font {
    color: #0086D6;
  }

  .hero_partners__thumbnails {
    img {
        border-radius: 10px;
    }
  }

  .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item_partners__carousel {
    img {
        width: 100%;
        aspect-ratio: 4/2;
        object-fit: contain;
    }
  }

  .owl-partners {
    .owl-dots,
    .owl-nav {
      display: none;
    }
  }

  .owl-prev, .owl-next {
    height: 35px;
    width: 35px;
    margin-left: 1.5rem;
  }
  .owl-prev::before, .owl-next::before {
    transform: scale(0.6);
  }
  .owl-prev span, .owl-next span {
      display: none;
  }
  .owl-nav {
      display: flex;
      justify-content: end;
      margin-top: 1.5rem;
  }
  /* Light mode icons */
  .owl-prev::before {
      content: url('../assets/icons/leftCarousel.svg');
  }
  .owl-next::before {
      content: url('../assets/icons/rightCarousel.svg');
  }
  /* Dark mode icons */
  .dark .owl-prev::before {
      content: url('../assets/icons/leftCarousel-dark.svg');
  }
  .dark .owl-next::before {
      content: url('../assets/icons/rightCarousel-dark.svg');
  }

  .objectiveCard_number {
    span {
        border-radius: 50%;
    }
  }

  .servicesListing_card {
    width: 320px; /* Set your desired width */
    height: 355px; /* Set your desired height */
    background-size: cover; /* Cover the entire div with the background image */
    background-position: center;
    border-radius: 15px;
  }

  .whatWeDo_whoWeWorkWith__card::after {
    content: ""; /* Create a pseudo-element to act as the overlay */
    position: absolute; /* Position the overlay relative to its parent div */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
    z-index: 1; /* Ensure the overlay is above the background image */
    border-radius: 15px;
}

.servicesListing_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  border-radius: 15px;
  z-index: 1;
}

.servicesListing_card:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.proejcts_thumbnail__wrapper,
.spotlightContent_image,
.specializationContent_wrapper {
    img {
        border-radius: 15px;
    }
}

.projectListing-1 {
    .grid {
        .proejcts_thumbnail__wrapper {
            order: 2;
        }

        .projects_content__wrapper {
            order: 1;
        }
    }
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blogCarousel_wrapper {
    img {
        border-radius: 10px;
    }
}

// Page breadcrumbs
.breadcrumb ol {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1em;
    align-items: center;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li:not(:last-child):after {
    content: '';
}

.breadcrumb-separator {
    margin: 0 0.5em;
    color: black;
}

.breadcrumb-separator-white {
    margin: 0 0.5em;
    color: white;
}

.breadcrumb a:hover, .breadcrumb a:focus {
    text-decoration: underline;
}

.pageHero_image,
.singleServiceHero_wrapper,
.singlePartnerHero_wrapper {
    background-size: cover;
    background-position: center;
}

.singlePartnerHero_wrapper,
.singleServiceHero_wrapper  {
  border-radius: 0 0 30px 30px;
}

.pageHero_image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 134, 214, 0.5); 
    z-index: 1;
    border-radius: 15px;
}

.singleServiceHero_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 134, 214, 0.5); 
    z-index: 1;
    border-radius: 0 0 30px 30px;
}

.singlePartnerHero_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  border-radius: 0 0 30px 30px;
}

.hero_partners__thumbnails::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  border-radius: 15px;
}

.approachImage_wrapper,
.guidanceForGrowthImage_wrapper,
.companyCredentialsImage_wrapper,
.singleInsight_contentImage__wrapper,
.singlePost_image__wrapper,
.blogArchive_singleFeatured__wrapper,
.relatedProjectPost_wrapper,
.archiveTestimonial_card__wrapper {
    img {
        border-radius: 15px;
    }
}

.biography_wrapper {
  p {
    padding-bottom: 10px;
  }

  strong {
    font-size: 20px;
  }
}

.sharing_socialMedia {
  width: 32px;
  height: 32px;

  a {
    width: 32px;
    height: 32px;
  }
}

.sharing_sociaMedia__linkedin {
    background-image: url('../assets/icons/linkedin_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.sharing_sociaMedia__linkedin__white {
  background-image: url('../assets/icons/linkedin_icon_white.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.sharing_sociaMedia__twitter {
  background-image: url('../assets/icons/twitter_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.sharing_sociaMedia__twitter__white {
  background-image: url('../assets/icons/twitter_icon_white.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


.singleProject_companyLogo {
  img {
    border-radius: 50%;
  }
}

// Contact Form
.contactPage_contactForm {

  p {
      padding-bottom: 32px;
  }

  select {
      padding: 8px 8px;
      border-radius: 10px;
  }

  input {
      margin: 8px 0;
      border-radius: 10px;
      width: 100% !important;
  }

}

.contactForm_grid {
  input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 22px;
    font-weight: 200;
  }

  span, p {
    color: white !important;
  }


}

.contactForm_reason {
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  padding: 10px 10px;
  font-size: 22px;
  font-weight: 200;
  border-bottom: 1px solid white;
}

.wpcf7-form option {
  background-color: #0086D6;
  font-weight: 200;
}

.wpcf7-text:focus, .wpcf7-textarea:focus {
  outline:none;
}

.wpcf7-form-control-wrap {
  textarea {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid white;
    height: 100px;
    padding: 10px 10px;
  }
}

.wpcf7-form {
  label {
    font-size: 22px;
    font-weight: 200;
    padding: 10px 10px;
  }

  p {
    margin-top: 30px;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff !important;
  opacity: 1;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
  opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff !important;
  opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff !important;
  opacity: 1;
  }

.contactForm_grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0 40px;
}

.wpcf7-submit {
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 10px;
  
}

.wpcf7-submit::after {
  content: url(assets/icons/feynicTheme_arrow.svg);
  width: 200px;
  height: 200px;
}


.contactForm_heading {
  font-size: 50px;
}

.wpcf7-spinner {
  display: none;
}

.submitButton_wrapper {
  text-align: center;
}

// Page Template
.pageContent_wrapper {
  h2 {
    font-size: 3.125rem;
    margin-top: 1.2rem;
  }

  h3 {
    font-size: 2.688rem;
    margin-top: 1.2rem;
  }

  h4 {
    font-size: 2.375rem;
    margin-top: 1.2rem;
  }

  h5 {
    font-size: 2.125rem;
    margin-top: 1.2rem;
  }

  h6 {
    font-size: 1.813rem;
    margin-top: 1.2rem;
  }

  p {
    font-size: 1.125rem;

    a {
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 0.5rem;

    li {
      margin-top: 0.2rem;
      maring-bottom: 0.2rem;
    }
  }
}

.navBlog_image__wrapper {
  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}

.footerCredential_link:hover {
  text-decoration: underline;
}

header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  z-index: 9999; /* Ensure the header is above other content */
}

main {
  padding: 20px;
}

main p {
  margin: 20px 0;
}

// Category Filter Select 
.custom-select {
  min-width: 200px;
  position: relative;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

.custom-select::after {
  --size: 0.5rem;
  content: url(../assets/icons/dropdownArrow.svg);
  position: absolute;
  right: 1rem;
  pointer-events: none;
  color: white;
  top: 27%;
  right: 14%;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #007BFF;
  color: #FFF;
  border-radius: 0.5rem;
  cursor: pointer;
}

.custom-select-trigger {
  font-family: 'Averta', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.custom-options {
  display: none; /* Hide by default */
  position: absolute;
  background-color: #007BFF; /* Background color */
  border-radius: 0.5rem; /* Rounded corners */
  top: 85%;
  left: 0;
  right: 0;
  z-index: 999; /* Ensure dropdown is above other elements */
  flex-direction: column; /* Ensure items are stacked */
}

.custom-option {
  display: block; /* Ensure options are block elements */
  padding: 0.5rem 1rem; /* Padding */
  font-family: 'Averta', sans-serif; /* Custom font */
  font-size: 1rem; /* Font size */
  font-weight: light; /* Bold font */
  color: #FFF; /* Text color */
  border-bottom: 1px solid #FFF; /* White border at the bottom */
  cursor: pointer; /* Pointer cursor on hover */
  margin-left: 1rem;
  margin-right: 1rem;
}

.custom-option:last-child {
  border-bottom: none; /* Remove border from last item */
}

.custom-option:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

// Search form
.searchform {
  display: flex;
  align-items: center;
}

.searchform input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-bottom: 2px solid #0086D6;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchform .searchsubmit {
  padding: 10px 20px;
  font-size: 16px;
  border-left: 0;
  background-color: white;
  color: #FFF;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  border-bottom: 2px solid #0086D6;
}

.searchsubmit::after {
  --size: 0.5rem;
  content: url(../assets/icons//magnyfiyingSearch.svg);
  position: absolute;
  pointer-events: none;
  color: white;
  left: 20%;
  top: 10%;
}

.mx-10 {
  margin-left: 5vh;
  margin-right: 5vh;
}

.workWithFeynic_wrapper {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.owl-projects {
  .owl-nav,
  .owl-dots {
    display: none;
  }
 }

 .playlist-item {
  cursor: pointer;
  margin: 5px 0;
  padding: 10px;
}
.playlist-item:hover {
  background-color: #f1f5f9;
}

.dark .playlist-item:hover {
  background-color: #3f3f46;
}

.scrollable-container {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

/* Scrollbar customization for WebKit browsers */
.scrollable-container::-webkit-scrollbar {
  width: 12px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: black;
}

#hero {
  background-image: url('../assets/svgBackgrounds/Feynic-Icon-Background-Vector.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -100px;
}

#serviceContent {
  background-image: url('../assets/svgBackgrounds/Feynic-Icon-Background-Vector.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -100px;
}

#strategicInititative {
  background-image: url('../assets/svgBackgrounds/Feynic-Icon-Background-Vector.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#blogArchiveSingle {
  background-image: url('../assets/svgBackgrounds/blog_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 659px center; /* Adjust the value as needed */
}

#aboutHero {
  background-image: url('../assets/svgBackgrounds/blog_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#bottomFooter {
  background-image: url('../assets/svgBackgrounds/Feynic-Footer-Background-Vector.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.singleProjectTestimonial_wrapper {
  background-image: url('../assets/svgBackgrounds/Feynic-Footer-Background-Vector.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blue_overlay {
  opacity: 0;
  background-color: #0086D6;
  border-radius: 1rem;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.hero_partners__thumbnails:hover {
  .blue_overlay {
    opacity: 0.5;
  }
}

.accrediations_wrapper {
  display:none;
}

.serviceListin_cardSvg__wrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease;
}

.servicesListing_card:hover .serviceListin_cardSvg__wrapper {
  opacity: 1;
  visibility: visible;
}

.accrediations_close__button {
  svg {
    transform: rotate(180deg);
    margin-top: 4px;
  }
}

.display-none {
  @apply hidden;
}

.dark .searchsubmit {
  background-color: #27272a;
}

.dark .serachbar_input {
  background-color: #27272a;
}

.sun_wrapper,
.moon_wrapper {
  border-radius: 50%;
}


