// importing tailwind components
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli-ExtraLight.ttf') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Muli';
    src: url('../assets/fonts/Muli-Bold.ttf') format('truetype');
    font-weight: 700;
  }

.navbar {	
    text-align: center;
  }
  .navbar ul {
    letter-spacing: 1px;
      margin: 0 auto;
      display: block; 
    list-style-type: none;
  }
  .navbar > ul > li {
      display: inline-block;
      margin: 0 10px;
      font-size: 1.2em;
  } 
  .navbar li a {
      text-decoration: none;
      overflow: hidden;
      position: relative;
  }
  
  .navbar li:hover .whatwedoNav { display: block; }
  .navbar li:hover .insightsNav { display: block; }
  
  ul.subnav,
  .whatwedoNav {
      min-width: 66px;
      display: none;
      position: absolute;
      overflow: hidden;
      right: 30%;
  }

  .insightsNav {
    min-width: 66px;
    display: none;
    position: absolute;
    overflow: hidden;
    right: 20%;
  }
  
  .subnav li { display: block; }
  .subnav li a {
      padding: 8px;
      display: block;
  }
  .subnav li:hover {
      background-color: #111;
    background: -webkit-linear-gradient(#111,#333,#222,#000);
    background: -o-linear-gradient(#111,#333,#222,#000);
    background: -moz-linear-gradient(#111,#333,#222,#000);
    background: linear-gradient(#111,#333,#222,#000);
  }

  .nav_arrow {
    transform: rotate(90deg);
    margin-left: 0.3rem;
    margin-top: 0.3rem;
  }

  .navbar_blogpost__image {
    img {
        border-radius: 5px;
    }
  }

  .footer_accrediations {
    img {
        margin-bottom: 10px;
    }
  }

  .blue_font {
    color: #0086D6;
  }

  .hero_partners__thumbnails {
    img {
        border-radius: 10px;
    }
  }

  .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item_partners__carousel {
    img {
        width: 100%;
        aspect-ratio: 4/2;
        object-fit: contain;
    }
  }

  .owl-partners {
    .owl-dots,
    .owl-nav {
      display: none;
    }
  }

.owl-blog {
    .owl-prev {
        height: 40px;
        width: 40px;
    }
    
    .owl-prev::before {
        content: url(../assets/icons/leftCarousel.svg);
        transform: scale(0.6);
      }
    
    .owl-prev span {
        display: none;
    }
    
    
    .owl-next {
        height: 40px;
        width: 40px;
        margin-left: 26px;
    
        span {
            display: none;
        }
    }
    
    .owl-next::before {
        content: url(../assets/icons/rightCarousel.svg);
        transform: scale(0.6);
      }
    
    .owl-nav {
        display: flex;
        justify-content: end;
        margin-top: 1.5rem;
    }
  }

  .objectiveCard_number {
    span {
        border-radius: 50%;
    }
  }

  .servicesListing_card {
    width: 320px; /* Set your desired width */
    height: 355px; /* Set your desired height */
    background-size: cover; /* Cover the entire div with the background image */
    background-position: center;
    border-radius: 15px;
  }

  .servicesListing_card::after,
  .whatWeDo_whoWeWorkWith__card::after {
    content: ""; /* Create a pseudo-element to act as the overlay */
    position: absolute; /* Position the overlay relative to its parent div */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
    z-index: 1; /* Ensure the overlay is above the background image */
    border-radius: 15px;
}

.proejcts_thumbnail__wrapper,
.spotlightContent_image {
    img {
        border-radius: 15px;
    }
}

.projectListing-1 {
    .grid {
        .proejcts_thumbnail__wrapper {
            order: 2;
        }

        .projects_content__wrapper {
            order: 1;
        }
    }
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blogCarousel_wrapper {
    img {
        border-radius: 10px;
    }
}

// Page breadcrumbs
.breadcrumb ol {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1em;
    align-items: center;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li:not(:last-child):after {
    content: '';
}

.breadcrumb-separator {
    margin: 0 0.5em;
    color: black;
}

.breadcrumb-separator-white {
    margin: 0 0.5em;
    color: white;
}

.breadcrumb a:hover, .breadcrumb a:focus {
    text-decoration: underline;
}

.pageHero_image,
.singleServiceHero_wrapper,
.singlePartnerHero_wrapper {
    background-size: cover;
    background-position: center;
}

.pageHero_image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 134, 214, 0.5); 
    z-index: 1;
    border-radius: 15px;
}

.singleServiceHero_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 134, 214, 0.5); 
    z-index: 1;
}

.singlePartnerHero_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.approachImage_wrapper,
.guidanceForGrowthImage_wrapper,
.companyCredentialsImage_wrapper,
.singleInsight_contentImage__wrapper,
.singlePost_image__wrapper {
    img {
        border-radius: 15px;
    }
}

.biography_wrapper {
  p {
    padding-bottom: 10px;
  }

  strong {
    font-size: 20px;
  }
}

.sharing_socialMedia {
  width: 32px;
  height: 32px;

  a {
    width: 32px;
    height: 32px;
  }
}

.sharing_sociaMedia__linkedin {
    background-image: url('../assets/icons/linkedin_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.sharing_sociaMedia__linkedin__white {
  background-image: url('../assets/icons/linkedin_icon_white.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.sharing_sociaMedia__twitter {
  background-image: url('../assets/icons/twitter_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.sharing_sociaMedia__twitter__white {
  background-image: url('../assets/icons/twitter_icon_white.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


.singleProject_companyLogo {
  img {
    border-radius: 50%;
  }
}

// Contact Form
.contactPage_contactForm {

  p {
      padding-bottom: 32px;
  }

  select {
      padding: 8px 8px;
      border-radius: 10px;
  }

  input {
      margin: 8px 0;
      border-radius: 10px;
      width: 100% !important;
  }

}

.contactForm_grid {
  input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 22px;
    font-weight: 200;
  }

  span, p {
    color: white !important;
  }


}

.contactForm_reason {
  margin-top: 30px;
  width: 100%;
  background-color: transparent;
  padding: 10px 10px;
  font-size: 22px;
  font-weight: 200;
  border-bottom: 1px solid white;
}

.wpcf7-form option {
  background-color: #0086D6;
  font-weight: 200;
}

.wpcf7-text:focus, .wpcf7-textarea:focus {
  outline:none;
}

.wpcf7-form-control-wrap {
  textarea {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid white;
    height: 100px;
    padding: 10px 10px;
  }
}

.wpcf7-form {
  label {
    font-size: 22px;
    font-weight: 200;
    padding: 10px 10px;
  }

  p {
    margin-top: 30px;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff !important;
  opacity: 1;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
  opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff !important;
  opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff !important;
  opacity: 1;
  }

.contactForm_grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0 40px;
}

.wpcf7-submit {
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 10px;
  
}

.wpcf7-submit::after {
  content: url(assets/icons/feynicTheme_arrow.svg);
  width: 200px;
  height: 200px;
}


.contactForm_heading {
  font-size: 50px;
}

.wpcf7-spinner {
  display: none;
}

.submitButton_wrapper {
  text-align: center;
}

// Page Template
.pageContent_wrapper {
  h2 {
    font-size: 3.125rem;
    margin-top: 1.2rem;
  }

  h3 {
    font-size: 2.688rem;
    margin-top: 1.2rem;
  }

  h4 {
    font-size: 2.375rem;
    margin-top: 1.2rem;
  }

  h5 {
    font-size: 2.125rem;
    margin-top: 1.2rem;
  }

  h6 {
    font-size: 1.813rem;
    margin-top: 1.2rem;
  }

  p {
    font-size: 1.125rem;

    a {
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 0.5rem;

    li {
      margin-top: 0.2rem;
      maring-bottom: 0.2rem;
    }
  }
}